<%- include('./header.ejs') %>
<link rel="stylesheet" href="/stylesheets/details.css">

  <%- include('./nav.ejs') %>
<div class="contentholder">

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/gerardo-rojas-1172674-unsplash.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= Fname  %> <%=  Sname %></h5>
            <p class="card-title">Web Developer</p>
            <h6 class="card-title"> <%= password  %></h6>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</div>

<%- include('./footer.ejs') %>
